body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('images/towers.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}


.content a {

    text-decoration: none;
    color:aqua
}

.blog-entries {
    height: 200px; /* adjust height as needed */
    overflow-y: auto;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}



.home{
    position: absolute;
    left: 20px;
    top: 0px;
}


.home a {
    text-decoration: none;
    color: #23008c;
}



.home a:hover {
    cursor: pointer;
}