body {
    margin: 0;
    background-image: url('images/sunsetsky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.home{
    position: absolute;
    left: 20px;
    top: 0px;
}


.home a {
    text-decoration: none;
    color: #23008c;
}

.home a:hover {
    cursor: pointer;
}